<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite"><test verbose="2" preserve-order="true" name="C:/Users/sagar/IdeaProjects/MySeleniumWork/src/test/java/com/mypractice/practice_selenium/First.java">
    <classes>
        <class name="com.mypractice.practice_selenium.First"><methods>
            <include name="PrintHello"/>
        </methods>
        </class>
    </classes>
</test>
</suite>